Gehtsoft.PDFFlowLib.Xml/schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://docs.gehtsoftusa.com/schemas/pdf2xsd.xsd"
           xmlns:pdf="http://docs.gehtsoftusa.com/schemas/pdf2xsd.xsd"
           elementFormDefault="qualified" >

	<xs:simpleType name="XmlPdfUnit" final="restriction" >
		<xs:restriction base="xs:string">
			<xs:pattern value="((-?\d+)(\.(\d*)))?(pt|mm|in|cm|px|%)"/>
		</xs:restriction>
	</xs:simpleType>

     <xs:simpleType name="XmlPdfStroke" final="restriction" >
        <xs:restriction base="xs:string">
            <xs:enumeration value="none" />
            <xs:enumeration value="solid" />
            <xs:enumeration value="double" />
            <xs:enumeration value="dash" />
            <xs:enumeration value="dot" />
        </xs:restriction>
    </xs:simpleType>

	<xs:simpleType name="XmlPdfOverflowAction" final="restriction" >
		<xs:restriction base="xs:string">
			<xs:enumeration value="ellipsis" />
			<xs:enumeration value="truncate" />
			<xs:enumeration value="throw" />
		</xs:restriction>
	</xs:simpleType>

     <xs:simpleType name="XmlPdfListStyle" final="restriction" >
        <xs:restriction base="xs:string">
            <xs:enumeration value="bullet" />
            <xs:enumeration value="number" />
        </xs:restriction>
    </xs:simpleType>

     <xs:simpleType name="XmlPdfListBulletStyle" final="restriction" >
        <xs:restriction base="xs:string">
            <xs:enumeration value="bullet" />
            <xs:enumeration value="dash" />
        </xs:restriction>
    </xs:simpleType>

     <xs:simpleType name="XmlPdfNumerationStyle" final="restriction" >
        <xs:restriction base="xs:string">
            <xs:enumeration value="arabic" />
            <xs:enumeration value="lower-latin" />
            <xs:enumeration value="lower-roman" />
            <xs:enumeration value="lower-cyrillic" />
            <xs:enumeration value="upper-latin" />
            <xs:enumeration value="upper-roman" />
            <xs:enumeration value="upper-cyrillic" />
        </xs:restriction>
    </xs:simpleType>

     <xs:simpleType name="XmlPdfHorizontalAlignment" final="restriction" >
        <xs:restriction base="xs:string">
            <xs:enumeration value="left" />
            <xs:enumeration value="right" />
            <xs:enumeration value="center" />
            <xs:enumeration value="justify" />
        </xs:restriction>
    </xs:simpleType>

     <xs:simpleType name="XmlPdfVerticalAlignment" final="restriction" >
        <xs:restriction base="xs:string">
            <xs:enumeration value="top" />
            <xs:enumeration value="center" />
            <xs:enumeration value="bottom" />
        </xs:restriction>
    </xs:simpleType>

	<xs:simpleType name="XmlPdfNewPageMode" final="restriction" >
		<xs:restriction base="xs:string">
			<xs:enumeration value="yes" />
			<xs:enumeration value="true" />
			<xs:enumeration value="no" />
			<xs:enumeration value="false" />
			<xs:enumeration value="flow" />
			<xs:enumeration value="new-page" />
			<xs:enumeration value="new-odd-page" />
			<xs:enumeration value="new-even-page" />
		</xs:restriction>
	</xs:simpleType>

    <xs:complexType name="XmlPdfBox">
        <xs:attribute name="left" type="pdf:XmlPdfUnit" use="optional" />
        <xs:attribute name="top" type="pdf:XmlPdfUnit" use="optional" />
        <xs:attribute name="right" type="pdf:XmlPdfUnit" use="optional" />
        <xs:attribute name="bottom" type="pdf:XmlPdfUnit" use="optional" />
    </xs:complexType>

    <xs:complexType name="XmlPdfFont">
        <xs:attribute name="name" type="xs:string" use="optional" />
        <xs:attribute name="size" type="pdf:XmlPdfUnit" use="optional" />
        <xs:attribute name="bold" type="xs:boolean" use="optional" />
        <xs:attribute name="italic" type="xs:boolean" use="optional" />
        <xs:attribute name="oblique" type="xs:boolean" use="optional" />
        <xs:attribute name="underline" type="xs:boolean" use="optional" />
        <xs:attribute name="underline-color" type="xs:string" use="optional" />
        <xs:attribute name="strike-through" type="xs:boolean" use="optional" />
        <xs:attribute name="strike-through-color" type="xs:string" use="optional" />
        <xs:attribute name="color" type="xs:string" use="optional" />
		<xs:attribute name="encoding" type="xs:string" use="optional" />
    </xs:complexType>


    <xs:complexType name="XmlPdfBorderSide">
        <xs:attribute name="stroke" type="pdf:XmlPdfStroke" use="optional" />
        <xs:attribute name="color" type="xs:string" use="optional" />
        <xs:attribute name="width" type="pdf:XmlPdfUnit" use="optional" />
    </xs:complexType>

    <xs:complexType name="XmlPdfBorder">
		<xs:sequence>
			<xs:element name="all" type="pdf:XmlPdfBorderSide" minOccurs="1" maxOccurs="1" />
            <xs:element name="left" type="pdf:XmlPdfBorderSide" minOccurs="0" maxOccurs="1" />
            <xs:element name="top" type="pdf:XmlPdfBorderSide" minOccurs="0" maxOccurs="1" />
            <xs:element name="right" type="pdf:XmlPdfBorderSide" minOccurs="0" maxOccurs="1" />
             <xs:element name="bottom" type="pdf:XmlPdfBorderSide" minOccurs="0" maxOccurs="1" />
         </xs:sequence>
    </xs:complexType>

    <xs:complexType name="XmlPdfList">
		<xs:attribute name="style" type="pdf:XmlPdfListStyle" use="required" />
		<xs:attribute name="bullet-style" type="pdf:XmlPdfListBulletStyle" use="optional" />
		<xs:attribute name="numeration-style" type="pdf:XmlPdfNumerationStyle" use="optional" />
		<xs:attribute name="level" type="xs:int" use="optional" />
		<xs:attribute name="left-indent" type="xs:float" use="optional" />
	</xs:complexType>

    <xs:complexType name="XmlPdfStyle">
        <xs:sequence>
            <xs:element name="margin" type="pdf:XmlPdfBox" minOccurs="0" maxOccurs="1" />
            <xs:element name="padding" type="pdf:XmlPdfBox"  minOccurs="0" maxOccurs="1" />
            <xs:element name="font" type="pdf:XmlPdfFont"  minOccurs="0" maxOccurs="1" />
            <xs:element name="border" type="pdf:XmlPdfBorder"  minOccurs="0" maxOccurs="1" />
			<xs:element name="list" type="pdf:XmlPdfList"  minOccurs="0" maxOccurs="1" />
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" use="required" />
        <xs:attribute name="base-style" type="xs:string" use="optional" />
        <xs:attribute name="background-color" type="xs:string" use="optional" />
        <xs:attribute name="page-break" type="pdf:XmlPdfNewPageMode" use="optional" />
        <xs:attribute name="keep-with-next" type="xs:boolean" use="optional" />
        <xs:attribute name="horizontal-alignment" type="pdf:XmlPdfHorizontalAlignment" use="optional" />
        <xs:attribute name="vertical-alignment" type="pdf:XmlPdfVerticalAlignment" use="optional" />
        <xs:attribute name="line-spacing" type="xs:float" use="optional" />
		<xs:attribute name="first-line-indent" type="pdf:XmlPdfUnit" use="optional" />
		<xs:attribute name="overflow-action" type="pdf:XmlPdfOverflowAction" use="optional" />
		<xs:attribute name="min-cell-height" type="pdf:XmlPdfUnit" use="optional" />
    </xs:complexType>

	<xs:simpleType name="XmlPdfPageSize" final="restriction" >
		<xs:restriction base="xs:string">
			<xs:enumeration value="custom" />
			<xs:enumeration value="A0" />
			<xs:enumeration value="A1" />
			<xs:enumeration value="A2" />
			<xs:enumeration value="A3" />
			<xs:enumeration value="A4" />
			<xs:enumeration value="A5" />
			<xs:enumeration value="half-letter" />
			<xs:enumeration value="junior-legal" />
			<xs:enumeration value="legal" />
			<xs:enumeration value="letter" />
			<xs:enumeration value="ledger" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="XmlPdfPageOrientation" final="restriction" >
		<xs:restriction base="xs:string">
			<xs:enumeration value="portrait" />
			<xs:enumeration value="landscape" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="XmlPdfPageSide" final="restriction" >
		<xs:restriction base="xs:string">
			<xs:enumeration value="odd" />
			<xs:enumeration value="even" />
			<xs:enumeration value="single" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="XmlPdfAreaType" final="restriction" >
		<xs:restriction base="xs:string">
			<xs:enumeration value="header" />
			<xs:enumeration value="footer" />
			<xs:enumeration value="flow" />
			<xs:enumeration value="fixed" />
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="XmlPdfPage">
		<xs:attribute name="size" type="pdf:XmlPdfPageSize" default="letter" />
		<xs:attribute name="width" type="pdf:XmlPdfUnit" use="optional" />
		<xs:attribute name="height" type="pdf:XmlPdfUnit" use="optional" />
		<xs:attribute name="orientation" type="pdf:XmlPdfPageOrientation" default="portrait" />
	</xs:complexType>

	<xs:complexType name="XmlPdfPageArea">
		<xs:sequence>
			<xs:element name="location" type="pdf:XmlPdfBox" minOccurs="0" maxOccurs="1" />
		</xs:sequence>
		<xs:attribute name="type" type="pdf:XmlPdfAreaType" default="flow" />
		<xs:attribute name="page" type="pdf:XmlPdfPageSide" default="single" />
		<xs:attribute name="height" type="pdf:XmlPdfUnit" use="optional" />
	</xs:complexType>
	
	<xs:complexType name="XmlPdfPageNumeration">
		<xs:attribute name="type" type="pdf:XmlPdfNumerationStyle" />
		<xs:attribute name="start-from" type="xs:int" use="optional" />
	</xs:complexType>

	<xs:simpleType name="XmlPdfStyleReferenceTarget" final="restriction" >
		<xs:restriction base="xs:string">
			<xs:enumeration value="object" />
			<xs:enumeration value="paragraph" />
			<xs:enumeration value="table" />
			<xs:enumeration value="image" />
			<xs:enumeration value="line" />
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="XmlPdfStyleReference">
		<xs:attribute name="name" type="xs:string" />
		<xs:attribute name="target" type="pdf:XmlPdfStyleReferenceTarget" default="object" />
	</xs:complexType>
	
	<xs:complexType name="XmlPdfLayout">
		<xs:sequence>
			<xs:element name="page" type="pdf:XmlPdfPage" minOccurs="1" maxOccurs="1" />
			<xs:element name="margins" type="pdf:XmlPdfBox" minOccurs="0" maxOccurs="1" />
			<xs:element name="page-numeration" type="pdf:XmlPdfPageNumeration" minOccurs="0" maxOccurs="1" />
			<xs:element name="area"	 type="pdf:XmlPdfPageArea" minOccurs="1" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

    <xs:complexType name="XmlPdfSection">
		<xs:sequence>
			<xs:element name="apply-style" type="pdf:XmlPdfStyleReference" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="layout" type="pdf:XmlPdfLayout" minOccurs="1" maxOccurs="1" />
		</xs:sequence>
    </xs:complexType>

    <xs:complexType name="XmlPdfStyles">
        <xs:sequence>
            <xs:element name="style" type="pdf:XmlPdfStyle" minOccurs="1" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="XmlPdfSections">
        <xs:sequence>
            <xs:element name="section" type="pdf:XmlPdfSection" minOccurs="1" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="XmlPdfDocument">
        <xs:sequence>
            <xs:element name="styles" type="pdf:XmlPdfStyles" minOccurs="0" maxOccurs="1" />
            <xs:element name="sections" type="pdf:XmlPdfSections" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
    </xs:complexType>

    <xs:element name="document" type="pdf:XmlPdfDocument"/>
</xs:schema>
